.totalAmountCategoryItem__wrapper{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: space-between;

}

.totalAmountCategoryItem__title{
  text-align: start;
}

.totalAmountCategoryItem__count-bar{
   text-align: center;
}

.totalAmountCategoryItem__amount{
   text-align: end;
}