.mainPage__wrapper {
  background-color: #f2f0f0;
  padding: 100px 300px;
}

.mainPage__header{
  background-color: white;
  border-radius: 5px;
  padding: 20px;
}

.mainPage__wrapper{
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mainPage__header{
  display: flex;
  justify-content: space-between;
}

