.mainPage__wrapper {
  background-color: #f5f5f7;
  padding: 100px 300px;
}

.mainPage__wrapper{
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mainPage__header{
  display: flex;
  justify-content: space-between;
}

